<ion-header>

  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>

    <ion-title>Adicionar Nova Receita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-item  lines ="none">
        <img  src="assets/perfil.png" (click)="escolherFoto()" *ngIf="!receita.foto" text-align>
        <img [src]="receita.foto" (click)="escolherFoto()" *ngIf="receita.foto">
    </ion-item>

<form #fc="ngForm" (ngSubmit)="onSubmit(fc)">
    <ion-list><ion-item>
        <ion-label position="floating">Nome da Receita</ion-label>
        <ion-input type="text" name="nome" [(ngModel)] ="receita.nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ingredientes</ion-label>
      <ion-textarea type="mensagem" rows="6" cols="20" placeholder="Coloque os ingredientes aqui..." name="ingredientes" [(ngModel)]="receita.ingredientes" required></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Preparo</ion-label>

      <ion-textarea type="mensagem" rows="6" cols="20" placeholder="Coloque o modo de preparo aqui..." name="preparo" [(ngModel)]="receita.preparo" required></ion-textarea>

    </ion-item>

    <ion-item>
      <ion-label position="floating">Tags</ion-label><br>
      <tag-input type="text" name="tags" [separatorKeyCodes]="[32]" placeholder="Coloque o modo de preparo aqui..."  [(ngModel)]="receita.tags" required> </tag-input>
    </ion-item>
    </ion-list>

    <section>
        <ion-button (click)="presentToast()" type="submit" expand="full" [disabled]="">Salvar</ion-button>
        <ion-button type="reset" expand="full" color="danger" routerLink="">Cancelar</ion-button>
    </section>



</form>

</ion-content>

