<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Substituição de Alimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<img src="/assets/carne.jpg">
<ion-card-header>
  
  <ion-card-title>Carne</ion-card-title>
  
  <ion-card-subtitle>
    Como substituir a carne?<br><br> Antes de chegar à resposta, é preciso entender o que exatamente deve ser substituído. A carne é uma rica fonte de proteínas. Mais do que isso: ela é uma rica fonte de proteínas completas, ou seja, formadas pela união dos chamados aminoácidos essenciais. Desse grupo, fazem parte 9 tipos de aminoácidos que o corpo não produz, mas dos quais necessita para formar suas próprias proteínas. Substituir a carne significa, portanto, incluir na dieta alimentos que forneçam ao nosso corpo proteínas compostas por aminoácidos essenciais. Muitos vegetais são boas fontes de proteína. Porém, como a carne é um dos poucos alimentos que contêm proteínas completas, para substituí-la é preciso consumir uma combinação de vegetais. Abaixo, listamos cinco alimentos que podem ser incluídos na dieta vegetariana. Continue a leitura e confira como substituir a carne.
    <br><br><br>
Opção 1 – Soja

          A soja é um dos poucos vegetais em que são encontrados todos os aminoácidos essenciais. Ela pode ser consumida em grão, farinha, leite, tofu ou até em forma de proteína de soja. Conforme especialistas, o ideal é que ela não seja processada, para não haver alterações em suas proteínas. Também aconselham que seja fermentada, para que suas toxinas naturais sejam neutralizadas. Por algum tempo, a soja foi a primeira opção para substituir a carne na dieta vegetariana. Porém, seu consumo excessivo mostrou-se prejudicial à saúde, sendo associado a alterações na puberdade, problemas na tireoide, entre outros. Por isso, recomenda-se o consumo de até seis colheres de sopa de soja por semana (ou equivalente nos diversos “formatos”), evitando ingeri-la diariamente e alternando com outros vegetais.
          <br><br><br>
Opção 2 – Brotos

             Brotos de alfafa, feijão e girassol são ricos em vários nutrientes, inclusive em proteínas, vitaminas do complexo B e magnésio. Cada um deles contém uma gama de nutrientes diferentes, mas em geral eles combatem os radicais livres, retardando o envelhecimento, e contribuem para o bom funcionamento do intestino e para a cicatrização. Para isso, é preciso consumi-los in natura, ficando atento à durabilidade e higienização adequada desses vegetais para evitar problemas de saúde pela presença de bactérias ou outros micro-organismos.
             <br><br><br>
Opção 3 – Frutos Secos

             Nozes, castanhas, amêndoas, sementes de abóbora, girassol e linhaça são alguns dos chamados frutos secos e são boas fontes de proteína. Eles podem ser consumidos aos poucos, como um lanchinho entre refeições, ou podem ser incluídos em receitas. Além de serem ricos em proteínas, contêm gorduras monoinsaturadas (consideradas boas), fibras, vitaminas e minerais. Tudo isso faz com que eles deem a sensação de saciedade, ajudando a reduzir o risco de doenças cardiovasculares e a controlar os níveis de colesterol e triglicerídios.   
             <br><br><br>
Opção 4 – Ervilhas

             Como toda leguminosa, a ervilha é uma ótima fonte de proteínas: a cada 100 g de ervilha, 9 g são de proteínas. Ela é composta ainda por um alto teor de fibras, sais minerais e vitaminas, e um baixo teor de gorduras. Por isso, as ervilhas têm ação anti-inflamatória e antioxidante, além de reduzir o risco de doenças do coração e ajudar a fortalecer os ossos, a visão e o sistema imunológico. A recomendação é que ela seja servida cozida e que se dê preferência às ervilhas frescas (em detrimento das enlatadas).
  </ion-card-subtitle>



</ion-card-header>
</ion-card>
<ion-card>
<img src="/assets/leite.jpg">
<ion-card-title>Leite</ion-card-title>

<ion-card-subtitle>
O leite serve como aglutinante, é rico em proteína, dá espessura e umidade para receitas, e a gordura adiciona sabor ao paladar. Mas todas estas características podem, sim, ser encontradas em opções vegetais. 
<br><br><br>
Substitutos veganos para o leite:
<br><br><br>
Leites vegetais (como de soja, arroz, coco etc.)
Gergelim
Tahine
Grão-de-bico
Feijão branco
Folhas verde-escuras
Brócolis
Repolho
Nozes
<br><br><br>
Para sabor, textura e uso culinário: Nestes casos, o leite de vaca deve ser substituído por leites vegetais. Dentre as opções, estão os leites de arroz, amêndoas, aveia, avelã, girassol e castanhas. Também é aconselhado o leite de soja, que é nutricionalmente mais semelhante ao leite de vaca e a opção mais barata.
<br><br><br>
Para reforçar o cálcio: Em termos nutricionais ligados ao cálcio, é aconselhado o consumo de suco verde, gergelim, tahine, folhas verde-escuras, brócolis, repolho, nozes e sementes. Receitas com homus (pasta de grão-de-bico com tahine), feijão branco e soja são ótimas
<br><br><br>
Para reforçar as proteínas: Grãos, cereais e leguminosas são uma excelente opção para consumo de proteínas de origem vegetal.



</ion-card-subtitle>
</ion-card>
</ion-content>
