<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil Restaurante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item lines="none" class="foto">
      <img src="assets/box.png" *ngIf="!restaurante.fotos">
      <img [src]="restaurante.fotos[0]" *ngIf="restaurante.fotos">
    </ion-item>
    
    <ion-slides pager="true" [options]="slideOpts" *ngIf="restaurante.fotos">
      <ion-slide *ngFor="let foto of restaurante.fotos" class="fotos">
        <img src="{{foto}}">
      </ion-slide>
    </ion-slides>

    <ion-item>
      <h2>{{restaurante.nome}}</h2>
    </ion-item>
    <ion-item>
      <p>Descrição:{{restaurante.descricao}}</p>
    </ion-item>
    <ion-item>
      <p>Bairro:{{restaurante.bairro}}</p>
    </ion-item>
    <ion-item>
      <p>CEP:{{restaurante.cep}}</p>
    </ion-item>
    <ion-item>
      <p>Telefone:{{restaurante.telefone}}</p>
    </ion-item>
    <ion-item>
      <p>Endereço:{{restaurante.endereco}}</p>
    </ion-item>
    <ion-item>
      <p>Site:{{restaurante.site}}</p>
    </ion-item>
    <ion-item>
      <p>Facebook:{{restaurante.facebook}}</p>
    </ion-item>
    <ion-item>
      <p>Descrição:{{restaurante.descricao}}</p>
    </ion-item>
    <ion-item>
      <p>Ativo:{{restaurante.ativo}}</p>
    </ion-item>
    <ion-item>
      <ion-text>
        <p>Latitude: {{restaurante.lat}}</p>
        <p>Longitude: {{restaurante.lng}}</p>
      </ion-text>
    </ion-item>

    <ion-item>
      <ion-button type="reset" expand="full" color="danger" (click)="comprar()">Comprar</ion-button>
    </ion-item>
  </ion-list>

</ion-content>