<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      O Mundo Veg
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

        <ion-slides pager="true" [options]="slideOpts">


          <ion-slide>
              <ion-item >
                  <img src="/assets/veg3.png" alt="" />
                </ion-item>
          </ion-slide>
        </ion-slides>

    <ion-list lines="none">

      <ion-card  routerLink= '/list-restaurante' id="teste">
          <img src="/assets/restaurante2.jpg" />
      <ion-item>
        <ion-icon name="business"></ion-icon>
        <ion-label style="padding-left: 10px;">Restaurantes</ion-label>
      </ion-item>
    </ion-card>
    <ion-card id="teste">
        <img src="/assets/receitas2.jpg" />
      <ion-item href='/list-receita'>
        <ion-icon   name="book"></ion-icon>
        <ion-label style="padding-left: 10px;">Receitas</ion-label>
      </ion-item>
    </ion-card>
<ion-card id="teste" >
    <img src="/assets/organicos2.jpg" />
      <ion-item href='/subs'>
        <ion-icon name="nutrition"></ion-icon>
        <ion-label style="padding-left: 10px;" >Substituições de Alimentos</ion-label>
      </ion-item>
    </ion-card>

    </ion-list>
</ion-content>
